* {
  margin: 0;
  padding:  0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #092241;
  font-weight: 300;
  background-color: #ffffff;
}
.btn-outline-primary {
   border: 1px solid #23A5A5;
   color: #333333;
   font-weight: bold;
}
.btn-outline-primary:hover {
    border: 1px solid #23A5A5;
    background-color: #23A5A5;
}
.btn-hover-secondary:hover {
    border: 1px solid #ffaa00;
    background-color: #ffaa00;
}
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.background-grey {
    background: #F2F2F2;
}
.background-light-primary {
    background: #F3FFFD;
}
.text-white {
    color: #ffffff !important;
}
.form-control:focus {
    border-color: #23a5a5;
    box-shadow: none;
}
strong {
    font-weight: 700;
}
a {
    text-decoration: none;
    color: #23A5A5;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
a:hover {
    color: #FFAA00;
}
a:active, a:focus, button:active, button:focus {
  outline: 0;
}
button:hover {
  cursor: pointer;
}
a i {
    vertical-align: 0;
}
.required {
    color: #FFAA00;
}
.clear {
  clear: both;
}
.slidebar {
  position: fixed;
  width: 70%;
  max-width: 650px;
  height: 100%;
  top: 0;
  right: -70%;
  background: #2f2f2f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999999990;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.slidebar.show {
  right: 0;
}
.vjs-default-skin .vjs-control, .vjs-default-skin .vjs-time-divider {
    opacity: 0;
}
.vjs-default-skin.vjs-playing .vjs-control, .vjs-default-skin.vjs-playing .vjs-time-divider   {
    opacity: 1;
}
.header .container {
    max-width: 1300px !important;
}
.header .top {
    border-bottom: 2px solid #23A5A5;
    padding: 0.3rem 0;
}
.header .top .time ul {
    margin-bottom: 0;
}
.header .top .time ul li {
    margin-top: 1px;
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    padding: 0.1rem 0.5rem;
    border-right:  2px solid #23A5A5;
    font-size: 0.9rem;
    color: #23A5A5;
    font-weight: 700;
}
.header .top .time ul li:last-child {
    border-right: 0;
}
.header .top .language {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    text-align: right;
}
.header .top .language a {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    width: 36px;
    margin-right: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.header .top .language .item {
    margin-top: 3px;
}
.header .top .language a img {
    width: 100%;
    display: block;
}
.header .top .language .login {
    box-shadow: none;
    font-size: 0.9rem;
    border-left:  2px solid #23A5A5;
    padding-left: 0.6rem;
    vertical-align: 2px;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
}
.header .top .socical {
    text-align: right;
}
.header .top .socical .item {
    margin-top: 3px;
    color: #23A5A5;
    font-size: 0.9rem;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */

}
.header .top .socical .item:first-child {
    margin-right: 5px;
}
.header .top .socical .item a {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    margin-right: 5px;
    width: 18px;
}
.header .top .socical .item a img {
    width: 100%;
    display: block;
}
.header .bottom {
    border-bottom:  2px solid #FFAA00;
}
.header .bottom .logo {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}
.header .bottom .logo .imgage {
    width: 59px;
    margin: 0 auto;
    display: block;
}
.header .bottom .logo a img {
    display: block;
    width: 100%;
}
.header .bottom .logo h1 {
    font-family: Open Sans;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 0.5rem;
}
.header .bottom .logo .registered {

}
.header .bottom .main-nav{
    position: relative;
}
.header .bottom .main-nav::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 5%;
    width: 90%;
    height: 2px;
    background-color: #23A5A5;
}
.header .bottom .main-nav::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 50%;
    height: 2px;
    background-color: #23A5A5;
}
.header .bottom .main-nav .nav li {
    display: inline;
    padding: 1rem;
}
.header .bottom .main-nav .nav li a {
    color: #FFAA00;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
}
.header .bottom .search {
    margin-top: 2.4rem;
    position: relative;
}
.header .bottom .search::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -50%;
    width: 100%;
    height: 2px;
    background-color: #23A5A5;
}
.header .bottom .search .input-group .form-control {
    border-radius: 100px 0 0 100px;
    border:  2px solid #23A5A5;
    border-right: 0;
    background: #fff;
}
.header .bottom .search .input-group #button-search {
    border-radius: 0 100px 100px 0;
    border:  2px solid #23A5A5;
    border-left: 0;
    background: #fff;
}
.header .bottom .search .input-group {
    width: 90%;
}
.header .bottom .search .input-group .form-control:focus {
    box-shadow: none;
}
.header .bottom .search .input-group #button-search:hover {
    color: #23A5A5;
}
.slider {

}
.slider .slide {
    width: 100%;
}
.slider .slide img {
    width: 100%;
}
.slider .slide .text {
    width: 500px;
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 2rem;
}
.slider .slide .text .text-one {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.slider .slide .text .text-tow {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #23A5A5;
}
.slider .slide .line {
    display: block;
    width: 125px;
    height: 0;
    border-bottom: 2px solid #333333;
    left: 295px;
    top: 231px;
    margin: 2rem 0;
}
.slider .slide .text .text-three {
    margin-bottom: 2rem;
}
.slider .slide .btn {
    border: 1px solid #23A5A5
}
.main-slider {
    position: relative;
}
.main-slider .prev, .main-slider .next {
    position: absolute;
    top: 45%;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.main-slider:hover  .prev, .main-slider:hover .next {
    opacity: 1;
}
.main-slider .prev {
    left: 10%;
}
.main-slider .next {
    right: 10%;
}
.main-slider .prev i, .main-slider .next i {
    color:  #333333;
}
.main-slider .prev:hover, .main-slider .next:hover {
    color: #FFAA00;
}
.block-tree-box .box {
    z-index: 99999;
    margin-top: -2rem;
    width: 20%;
    margin-right: 5%;
    background: #FFFFFF;
    /* 8dp | popup */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 6px 12px rgba(0, 0, 0, 0.12), 0px 1px 16px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 1.5rem;
}
.block-tree-box .box .number {
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    text-align: right;
    color: #FFAA00;
    padding-right: 0.5rem;
}
.block-tree-box .box .text {
    font-weight: 700;
    color: #23A5A5;
}
.block {
    padding-bottom: 5rem;
}
.block .block-title {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    line-height: 160px;
    /* identical to box height */
    text-align: center;
    color: #23A5A5;
    margin-bottom: 4rem;
}
.block .block-title::before {
    position: absolute;
    content: '';
    left: 15%;
    bottom: 0;
    border-bottom: 0;
    width: 70%;
    height: 0px;
    border-bottom: 2px solid #333333;
}
.highlight {
    color: #FFAA00;
}
.block-subtitle {
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #23A5A5;
    margin-bottom: 1rem;
}
.block .sub-content {
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
}
.block .sub-content ul {
    margin: 1rem 0;
}
.block .sub-content ul {
  list-style: none;
  padding: 0;
}
.block .sub-content li {
 margin-left: 2rem;
}
.block .sub-content li:before {
  content: "\f058"; /* FontAwesome Unicode */
  font-size: 0.9rem;
  font-family: "Font Awesome 5 Pro";
  display: inline-block;
  margin-left: -2rem; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.block-service {
    width: 100%;
    background: #F3FFFD;
}
.title-description {
    max-width: 850px;
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: #333333;
    margin-bottom: 3rem;
    margin: 0 auto;
}
.service-item {
    float: left;
    width: 17.6%;
    margin-right: 3%;
    margin-bottom: 3%;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.service-item:nth-child(5n) {
    margin-right: 0%;
}
.service-item:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
}
.service-thumbnail {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    margin-bottom: 1rem;
}
.service-thumbnail img {
    width: 100%;
    filter: grayscale(100%);
}
.service-item:hover .number, .service-item:hover  .number .icon {
    color: #f80917 !important;
}
.service-item:hover .service-thumbnail img {
    filter: grayscale(0);
}
.service-item:hover .service-thumbnail img {
    filter: grayscale(0);
}
.service-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #23A5A5;
}
.service-desciption {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #000000;
    margin-bottom: 1rem;
}
.service-item .btn {
    font-size: .8rem;
}
.service-item .number {
    position: absolute;
    top: -27px;
    right: 0;
}
.service-item .number .icon {
    font-size: 3.5rem;
    color: #9a9a9a;
}
.service-item .number .text {
    position: absolute;
    top: 9px;
    right: 9px;
    padding: 0.4rem 0.6rem;
    background: #fff;
    border-radius: 1000px;
    font-weight: bold;;
}
.service-item .number.text-blue, .service-item .number.text-blue .icon {
    color: #005cba !important;
}
.service-item .number.text-red, .service-item .number.text-red .icon {
    color: #f80917 !important;
}
.service-item .number.text-orgran, .service-item .number.text-orgran .icon {
    color: #FFAA00 !important;
}
.service-item .number.text-primary, .service-item .number.text-primary .icon {
    color: #23A5A5 !important;
}
.service-item .number.text-success, .service-item .number.text-success .icon {
    color: #009828 !important;
}
.service-item .number.text-info, .service-item .number.text-info .icon {
    color: #b000dc !important;
}
.promotion-slider, .comments-slider, .certificate-content {
    max-width: 870px;
    margin: 0 auto;
}
.block-promotion .title-description {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.block-promotion .promotion-item {
    padding: 1rem;
    width: 33.3333%;
}
.block-promotion .promotion-box {
    padding: 1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.promotion-item .thumbnail {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}
.promotion-item .thumbnail img {
    width: 100%;
    display: block;
}
.promotion-item .promotion-description {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.block-content {
    position: relative;
}
.block-promotion .promotion-name {
    font-weight: bold;
    font-size: 1rem;
    line-height: 22px;
    color: #23A5A5;
    margin-bottom: 0.5rem;
}
.block-content .next, 
.block-content .prev {
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
}
.block-content .prev  {
    left: 0;
}
.block-content .next {
    right: 0;
}
.block-content:hover .next, 
.block-content:hover .prev {
    opacity: 1;
}
.promotion-banner a {
    display: block;
    width: 100%;
}
.promotion-banner img {
    width: 100%;
}
.slick-dots {
    width: 100%;
    list-style: none;
    position: absolute;
    bottom: 2rem;
    text-align: center;
    padding-left: 0;
}
.block-no-padding {
    padding: 0 !important;
}
.slick-dots li {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    position: relative;
    list-style: none;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 100px;
    border:  2px solid #FFAA00;
    margin: 3px;
}

.slick-dots li button {
    color: transparent;
    background: transparent;
    border:  none;
    border-radius: 100px;
    width: 8px;
    height: 8px;
}
.slick-dots li.slick-active button {
    background: #FFAA00;
}

.thumbnail-rounded {
    padding: 0 2rem;
}
.thumbnail-rounded img {
    border-radius: 1000px;
}
.customer-comments {
    background: #F3FFFD;
}
.appointment-content {
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.12), 0px 1px 32px rgba(0, 0, 0, 0.12);
}
.nav-fill .nav-item, .nav-fill>.nav-link {
    background-color: #23A5A5;
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #FFAA00;
    font-size: 0.9rem;
    padding-top: 1rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    border: 1px solid #FFAA00;
    border-bottom: 0;
    background-color: #fff;
    color: #FFAA00;
    border-radius: 0;
    font-size: 1.2rem;
}
.tab-content {
    border: 1px solid #FFAA00;
    border-top: none;
    padding: 2rem;
    background: #fff;
}
.block-partner  {
    background: #F3FFFD;
}
.block-partner .block-content.container  {
    max-width: 800px;
}
.block-partner .partner-item {
    padding: 2rem;
}
.block-partner .partner-item .partner-box {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.block-partner .partner-item .partner-box:hover {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.12);
}
.block-partner .partner-item .partner-box a {
    display: block;
}
.block-partner .partner-item .partner-box a img {
    width: 100%;
    display: block;
}
.block-partner .slick-dots {
    position: relative;
    margin-top: 5rem;
}
.footer {
    border-top: 2px solid #FFAA00;
    border-bottom: 2px solid #23A5A5;
    padding: 3rem;
    font-weight: bold;
    font-size: 0.9rem;

    color: #333333;
}
.block-footer .title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.6;
    color: #FFAA00;
    margin-bottom: 0.5rem;
}
.block-footer .sub-footer {
    margin-top: 3rem;
}
.block-footer .line {
    width: 50%;
    height: 0;
    border-bottom: 2px solid #23A5A5;
    margin:  0.5rem 0;
}

.block-footer div.text-item span {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    border-bottom: 2px solid #23A5A5;
    line-height: 2;
}
.block-footer div.text-item:nth-child(3) span {
    border: none;
}
.block-footer .logo a {
    display: inline;
    width: 40px;
    vertical-align: -22px;
}
.block-footer .logo a img {
    width: 100%;
}
.block-footer .logo h1 {
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    color: #21B3B3;
}
.block-footer .google-map {
    margin-top: 3rem;
}
.block-footer .sub-footer p {
    margin-bottom: 5px;
}
.block-about-us .thumbnail img {
    width: 100%;
}
.about-content h2, .about-content .title  {
    font-weight: bold;
    font-size: 1.2;
    color: #000000;
    margin-bottom: 2rem;

}
.about-content div, .about-content .text-description {
    line-height: 1.5;
    margin-bottom: 2rem;
}
.about-content div ul, .about-content div ol {
    margin-left: -15px;
}
.block-doctor {
    background: #21B3B3;
    color: #FFFFFF;
    padding: 0;
}
.block-doctor .doctor-content {
    padding: 3rem 0;
    margin-bottom: 0;
    position: relative;
}
.doctor-content .doctor-logo {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 60px;
    height: 60px;
}
.block-doctor .doctor-name {
   font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #FFFFFF;
    margin-bottom: 2rem; 
}
.block-doctor .doctor-title {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.block-doctor h2, .block-doctor .title  {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1rem;

}
.block-doctor div, .block-doctor .text-description {
    line-height: 1.5;
    margin-bottom: 2rem;
}
.block-doctor .thumbnail {
    margin-bottom: 0;
    position: relative;
}
.block-doctor .thumbnail img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.block-certificate-doctor {
    background: #F3FFFD;
}
.block-certificate-doctor .promotion-box {
    padding: 0;
    border-radius: 0;
}
.block-certificate-doctor .block-content .next, .block-certificate-doctor .block-content .prev {
    top: 18%;
}
.block-certificate-doctor .block-content .prev {
    left: -3rem;
}
.block-certificate-doctor .block-content .next {
    right: -3rem;
}
.about-campus-slider {
    max-width: 850px;
    margin: 0 auto;
}
.about-campus-main-content {
    margin-top: 2rem;
}
.block-about-campus .block-content .next, .block-about-campus .block-content .prev {
    top: 22%;
}
.about-campus-main-content p, .about-campus-main-content div {
    margin-bottom: 1rem;
    text-align: justify;
}
.about-campus-main-content {
    margin: 0 auto;
}
.about-campus-main-content img {
    width: 100%;
}

.block-service-page img {
    width: 100%;
}
.block-service-page {
    padding: 0;
}
.block-price .price-item {
    padding: 1rem;
}
.block-price .price-item .price-thumbnail {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    padding: 1rem;
}
.block-price .price-item .price-box {
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-transition: ưa .25s ease-in-out;
       -moz-transition: ưa .25s ease-in-out;
        -ms-transition: ưa .25s ease-in-out;
         -o-transition: ưa .25s ease-in-out;
            transition: ưa .25s ease-in-out;
}
.block-price .price-item .price-name {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.block-price .price-item .price-name a {
    font-weight: bold;
    font-size: 1.4rem;
    color: #333333;
}
.block-price .price-item:hover .price-name a {
    color: #ffaa00;
}
.block-price .price-item:hover .price-box{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16)
}
.block-price .price-item .price-number {
    font-weight: bold;
    color: #23A5A5;
}
.block-service-article {
    margin-top: 4rem;
}
.block-service-article .container {
    max-width: 1155px;
    position: relative;
}
.block-service-article-title {
    position: relative;
}
.block-service-article-title:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #FFAA00;
    top: calc(50% - 1px);
    left: 0;
}
.block-service-article-title span {
    position: absolute;
    padding: 1rem;
    font-weight: bold;
    font-size: 40px;
    background: #F3FFFD;
    color: #333333;
    z-index: 9999;
    top: -2.5rem;
}
.block-service-article-list {
    padding-top: 6rem;
}
.block-service-article-item {
    border-bottom: 2px solid #23A5A5;
    padding: 3rem 0;
}
.block-service-article-item:first-child {
    padding-top: 0;
}
.block-service-article-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.block-service-article-item .right {
    padding-left: 1.5rem;
}
.block-service-article-item .article-title a {
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.block-service-article-item .article-title:hover a {
    color: #23A5A5;
}
.block-service-article-item .article-title .number {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    font-size: 40px;
    vertical-align: -7px;
    padding-right: 0.5rem;
}
.block-service-article-item .article-description {
    color: #979797;
    font-size: 0.9rem;
   
}
.block-service-article-item .article-description li {
     line-height: 2;
}
.block-policy .block-content {
    margin-bottom: 0rem;
}
.block-policy  div {
    margin-bottom: 0;
}
.block-policy .doctor-name  {
    margin: 5rem 0 3rem 0;
}
.block-doctor.block-policy .thumbnail img {
    position: relative;
}
.block-policy .logo {
    margin-top: 6rem;
}
.block-policy .logo a {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    display: inline;
    width: 40px;
    vertical-align: -5px;
}
.block-policy .logo a img {
    display: block;
    width: 100%;
}
.block-policy .logo .logo-text a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.block-policy-detail  .accordion-item {
    border:  0;
    border-radius: 0;
}
.block-policy-detail .accordion-item{
    border-bottom: 1px solid #23A5A5;
}
.block-policy-detail .accordion-button {
    background: transparent;
    box-shadow: none;
    padding: 2rem 1rem;
    color: #979797;
    font-weight: bold;
}
.block-policy-detail .accordion-item:last-of-type {
    border-bottom:  0;
}
.block-policy-detail .accordion-button::after {
    background:  none;
    content: "\f0de"; /* FontAwesome Unicode */
    font-size: 0.9rem;
    font-family: "Font Awesome 5 Pro";
}
.block-policy-detail  .accordion-button:not(.collapsed)::after {
    content: "\f0d7"; /* FontAwesome Unicode */
    background:  none;
    transform: rotate(0);
}
.block-policy-detail .accordion-body {
    padding: 2rem 15px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.block-appointment .tab-content {
    background: #fff;
}
.customer-information-title {
    font-weight: bold;
    font-size: 2rem;
    color: #333333;
}
.customer-id {
    font-weight: bold;
    font-size: 1rem;
    color: #333333;
}
.customer-information-conent {
    border: 2px solid #23A5A5;
}
.customer-information-conent .header-title {
    margin: 3rem 0;
    display: block;
    font-size: 1.6rem;
}
.customer-information-conent form {
    margin-left: 4rem;
    margin-bottom: 5rem;
}
.customer-information-conent label {
    font-size: 0.9rem;
    font-weight: bold;
}
.customer-information-conent .header-form {
    padding: 2rem 4rem;
    border-bottom: 1px solid #23A5A5;
}
.customer-information-conent .header-form .logo {
    position: relative;
    text-align: center;
    padding: 0.5rem 0;
}
.customer-information-conent .header-form .logo .imgage {
    width: 59px;
    margin: 0 auto;
    display: block;
}
.customer-information-conent .header-form.logo a img {
    display: block;
    width: 100%;
}
.customer-information-conent .header-form .logo h1 {
    font-family: Open Sans;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 0.5rem;
}
.customer-information-conent .header-form .logo .since {
    font-weight: bold;
    font-size: 0.9rem;
}
.form-check-inline:last-of-type {
    margin-right: 0;
}
.list-contact {
    margin-top: 5rem;
}
.list-contact .contact-item {
    color: #fff;
    text-align: center;
    line-height: 2;
    padding: 2rem 2rem;
    background: #23A5A5;
    border-left: 1px solid #ffffff;
}
.list-contact .contact-item .contact-name {
    font-weight: bold;
}
.list-contact .contact-item a {
    color: #fff;
}
.list-promotion .promotion-item {
    padding: 2rem;

}
.list-promotion .promotion-item .promotion-box .thumbnail {
    width: 100%;
    display: block;
} 
.list-promotion .promotion-item .promotion-box img {
    width: 100%;
    display: block;
}
.promotion-title {
    padding-left: 2rem;
    margin-top: 5rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000000;
}
.block-library {
    padding: 5rem 0;
}
.library-slider .slick-dots {
    position: relative;
    top: 1rem;
}
.slider-caption {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    color: #23A5A5;
}
.pagination {
    margin-top: 2rem;
}
.pagination a {
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
}
.pagination a:hover {
    color: #23A5A5;
}
.page-item.active .page-link {
    background-color: #23A5A5;
    color: #fff;
    border-color: #23A5A5;
}
.video-library-container {
   max-width: 700px;
   margin: 0 auto;
}

.video-library-container  {
    position: relative;
}
.video-library-container .prev, .video-library-container  .next {
    position: absolute;
    top: 45%;
    z-index: 99999999999;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.video-library-container :hover  .prev, .video-library-container :hover .next {
    opacity: 1;
}
.video-library-container  .prev {
    left: -3rem;
}
.video-library-container  .next {
    right: -3rem;
}
.video-library-container  .prev i, .main-slider .next i {
    color:  #333333;
}
.video-library-container .prev:hover, .main-slider .next:hover {
    color: #FFAA00;
}
.video-library-container .video-title {
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.background-light-primary .title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}