* {
  margin: 0;
  padding:  0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html { font-size: 62.5%; /* Mac dinh ve gia tri 10px */ }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: #092241;
  font-weight: 400;
  background-color: #ffffff;
}
.fa, .fas, .far, .fal, .fad, .fab, .fal  {
    font-size: 1.6rem;
}
.btn {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.4rem;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.btn-outline-primary {
   border: 1px solid #23A5A5;
   color: #333333;
   font-weight: bold;
}
.btn-outline-primary:hover {
    color: #333;
    border: 1px solid #ffaa00;
    background-color: #ffaa00;
}
.btn-hover-secondary:hover {
    border: 1px solid #ffaa00;
    background-color: #ffaa00;
}
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.background-grey {
    background: #F2F2F2;
}
.background-light-primary {
    background: #F3FFFD;
}
.text-white {
    color: #ffffff !important;
}
.form-control {
    font-size: 1.6rem;
    background: #F0F0F0;
}
.form-control:focus {
    border-color: #23a5a5;
    box-shadow: none;
}
strong {
    font-weight: 700;
}
a {
    text-decoration: none;
    color: #23A5A5;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
a:hover {
    color: #FFAA00;
}
a:active, a:focus, button:active, button:focus {
  outline: 0;
}
button:hover {
  cursor: pointer;
}
a i {
    vertical-align: 0;
}
.border-bottom-primary {
    border-bottom: 1px solid #23A5A5;
}
.border-bottom-primary-2px {
    border-bottom: 2px solid #23A5A5;
}
.border-right-primary {
    border-right: 1px solid #23A5A5;
}
.border-right-primary-2px {
    border-right: 2px solid #23A5A5;
}
.required {
    color: #FFAA00;
}
.clear {
  clear: both;
}
.mt-6rem {
    margin-top: 6rem;
}
.mt-3rem {
    margin-top: 3rem;
}
.mb-6rem {
    margin-bottom: 6rem;
}
.mb-3rem {
    margin-bottom: 3rem;
}
#main-page {
    overflow-x: hidden;
}
.slidebar {
  position: fixed;
  width: 70%;
  max-width: 650px;
  height: 100%;
  top: 0;
  right: -70%;
  background: #2f2f2f;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
  z-index: 9999999990;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.slidebar.show {
  right: 0;
}
/* overlays */
.overlays,  .overlays-2, .overlays-left, .overlays-right {
    /*display: none;*/
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 20;
}
.overlays-left, .overlays-right {
    background: rgba(255,255,255,0.6);
    top: 0;
    left: 0;
}
.overlays .loading-container, .overlays-left .loading-container, .overlays-right .loading-container {
    top: 35%;
    top: calc(50% - 20px);
}
.overlays {
    background: rgba(255,255,255,1);
}
.overlays-2 {
    z-index: 2;
}
.overlays.hide {
    display: none;
}
.overlays.show {
    display: block;
}
/*menu mobile*/
.js-menu-mobile {
    display: none;
    position: absolute;
    right: 3rem;
    top: 2rem;
    background-color: #fff;
    width: 46px;
    height: 44px;
    z-index: 9999;
}
.js-menu-mobile .trigger-menu {
    cursor: pointer;
    width: 46px;
    height: 44px;
    text-align: right;
}
.js-menu-mobile.white .trigger-menu .three-bars-icon {
  background: #23A5A5;
}
.js-menu-mobile.active .trigger-menu .three-bars-icon {
  background: transparent;
}
.js-menu-mobile .trigger-menu .three-bars-icon {
    margin: 20px 10px;
    user-selectable: none;
    position: relative;
    display: inline-block;
    width: 26px;
    height: 3px;
    background: #23A5A5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.js-menu-mobile .trigger-menu span {
    display: inline-block;
    vertical-align: middle;
}
.js-menu-mobile.white .trigger-menu .three-bars-icon::before {
  background: #23A5A5;
}
.js-menu-mobile .trigger-menu .three-bars-icon::before {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: -7px;
    right: 0;
    background: #23A5A5;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.js-menu-mobile.white .trigger-menu .three-bars-icon::after {
  background: #23A5A5;
}
.js-menu-mobile .trigger-menu .three-bars-icon::after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 7px;
    right: 0;
    background: #23A5A5;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.js-menu-mobile .trigger-menu .three-bars-icon.close {
    position: relative;
    display: inline-block;
    background: transparent;
}
.js-menu-mobile .trigger-menu .three-bars-icon.close:before {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    background: #0c806b;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.js-menu-mobile .trigger-menu .three-bars-icon.close:after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    background: #0c806b;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*end menu mobile*/
/* End overlays */
/************** Begin breadcrumb **************/
.vjs-default-skin .vjs-control, .vjs-default-skin .vjs-time-divider {
    opacity: 0;
}
.vjs-default-skin.vjs-playing .vjs-control, .vjs-default-skin.vjs-playing .vjs-time-divider   {
    opacity: 1;
}
#main-page {
    position:  relative;
}
.header {
    width: 100%;
    background-color: #fff;
    z-index: 99;
}
.header .container {
    max-width: 1300px !important;
}
.header .top {
    border-bottom: 2px solid #23A5A5;
    padding: 0.5rem 0;
}
.header .top .time ul {
    margin-bottom: 0;
}
.header .top .time ul li {
    margin-top: 1px;
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    padding: 0.1rem 0.8rem;
    border-right:  2px solid #23A5A5;
    font-size: 1.2rem;
    color: #23A5A5;
    font-weight: 700;
}
.header .top .time ul li:last-child {
    border-right: 0;
}

.header .top .language {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    text-align: right;
}
.header .top .language a {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    width: 36px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.header .top .language .item {
    margin-top: 3px;
    margin-right: 0.8rem;   
}
.header .top .language .item:nth-child(3) {
    margin-right: 1rem;
}
.header .top .language a img {
    width: 100%;
    display: block;
}
.header .top .language .login {
    box-shadow: none;
    font-size: 1.2rem;
    border-left:  2px solid #23A5A5;
    padding-left: 1.5rem;
    vertical-align: 2px;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
}
.header .top .socical {
    text-align: right;
}
.header .top .socical .item {
    margin-top: 3px;
    color: #23A5A5;
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    margin-right: .8rem;

}
.header .top .socical .item:last-child {
    margin-right: 0
}
.header .top .socical .item a {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    width: 18px;
}
.header .top .mobile-language, .header .top .mobile-space {
    display: none;
}
.header .top .mobile-language  .language-select {
    background-color: transparent;
    border: none;
    margin-top: -5px;
    width: 55px;
}
.header .top .socical .item a img {
    width: 100%;
    display: block;
}
.header .bottom {
    position: relative;
    border-bottom:  2px solid #FFAA00;
}
.header .bottom .logo {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
}
.header .bottom .logo .imgage {
    width: 66px;
    margin: 0 auto;
    display: block;
}
.header .bottom .logo a img {
    display: block;
    width: 100%;
}
.header .bottom .logo h1 {
    font-family: Open Sans;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 0.5rem;
    line-height: 1.5;
}
.header .bottom .logo .since {
    font-size: 1rem;
}
.header .bottom .logo .registered {
    color: #333
}
.header .bottom .main-nav{
    position: relative;
}
.header .bottom .main-nav::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 4.5%;
    width: 90%;
    height: 2px;
    background-color: #23A5A5;
}
.header .bottom .main-nav::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 50%;
    height: 2px;
    background-color: #23A5A5;
}
.header .bottom .main-nav .nav > li {
    display: inline;
    position: relative;
}
.header .bottom .main-nav .nav li a {
    color: #FFAA00;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 20px 15px;
}
.header .bottom .main-nav .nav li:hover > a{
    color: #23A5A5;
}
.header .bottom .main-nav .nav ul {
    display: none;
    position: absolute;
    width: 280px;
    top: 80%;
    left: 0;
    padding-left: 0;
    z-index: 9999999999999999;
    background: #23A5A5;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.12), 0px 1px 32px rgba(0, 0, 0, 0.12);
}
.header .bottom .main-nav .nav ul li {
    width: 100%;
    list-style: none;
}
.header .bottom .main-nav .nav ul li a {
    color: #fff;
    padding: 13px 15px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.header .bottom .main-nav .nav ul li:hover a {
    color: #FFAA00;
}
.header .bottom .main-nav .nav li .icon {
    margin-left: 5px;
}
.header .bottom .search {
    position: relative;
}
.header .bottom .search::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -50%;
    width: 100%;
    height: 2px;
    background-color: #23A5A5;
}
.header .bottom .search .input-group {
    height: 35px;
}
.header .bottom .search .input-group .form-control {
    border-radius: 100px 0 0 100px;
    border:  2px solid #23A5A5;
    border-right: 0;
    background: #fff;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    height: 35px;
}
.header .bottom .search .input-group #button-search {
    border-radius: 0 100px 100px 0;
    border:  2px solid #23A5A5;
    border-left: 0;
    background: #fff;
    height: 35px;
}
.header .bottom .search .input-group {
    width: 100%;
}
.header .bottom .search .input-group .form-control:focus {
    box-shadow: none;
}
.header .bottom .search .input-group #button-search:hover {
    color: #23A5A5;
}
.slider {

}
.slider .slide {
    width: 100%;
}
.slider .slide img {
    width: 100%;
}
.slider .slide .text {
    width: 500px;
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 2.5rem;
}
.slider .slide .text .text-one {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
}
.slider .slide .text .text-tow {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.5rem;
    color: #23A5A5;
}
.slider .slide .line {
    display: block;
    width: 125px;
    height: 0;
    border-bottom: 2px solid #333333;
    left: 295px;
    top: 231px;
    margin: 2rem 0;
}
.slider .slide .text .text-three {
    margin-bottom: 2rem;
}
.slider .slide .btn {
    border: 1px solid #23A5A5
}
.slider .slide .btn:hover {
    border: 1px solid #ffaa00;
}
.main-slider {
    position: relative;
}
.main-slider .prev, .main-slider .next {
    position: absolute;
    top: 45%;
    z-index: 99;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.main-slider:hover  .prev, .main-slider:hover .next {
    opacity: 1;
}
.main-slider .prev {
    left: 10%;
}
.main-slider .next {
    right: 10%;
}
.main-slider .prev i, .main-slider .next i {
    color:  #333333;
}
.main-slider .prev:hover, .main-slider .next:hover {
    color: #FFAA00;
}
.slick-arrow i {
    font-size: 10rem;
}
.slick-arrow i:hover {
    color: #FFAA00 !important;
}
.slick-slide {
    height: auto;
}
.block-tree-box .box {
    z-index: 99;
    margin-top: -2rem;
    width: 20%;
    margin-right: 5%;
    background: #FFFFFF;
    /* 8dp | popup */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 6px 12px rgba(0, 0, 0, 0.12), 0px 1px 16px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 1.5rem;
}

.block-tree-box .box .number {
    font-weight: bold;
    font-size: 5rem;
    text-align: right;
    color: #FFAA00;
    min-width: 40%;
    padding-right: 1rem;
}

.block-tree-box .box .text {
    font-weight: 700;
    color: #23A5A5;
}
.block-tree-box .description {
    padding-left: 4rem;
}
.block {
    padding-bottom: 5rem;
}
.block .block-title {
    position: relative;
    font-weight: bold;
    font-size: 4rem;
    line-height: 12rem;
    /* identical to box height */
    text-align: center;
    color: #23A5A5;
    margin-bottom: 6rem;
    margin-top: 6rem;
}
.block .block-title::before {
    position: absolute;
    content: '';
    left: 15%;
    bottom: 0;
    border-bottom: none;
    width: 70%;
    height: 0px;
    border-bottom: 2px solid #333333;
}
.highlight {
    color: #FFAA00;
}
.block-subtitle {
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #23A5A5;
    margin-bottom: 1rem;
}
.block .sub-content {
    font-size: 1.58rem;
    line-height: 1.7;
    text-align: justify;
}
.block .sub-content ul {
    margin: 1rem 0;
}
.block .sub-content ul {
  list-style: none;
  padding: 0;
}
.block .sub-content li {
 margin-left: 2rem;
}
.block .sub-content li:before {
  content: "\f058"; /* FontAwesome Unicode */
  font-size: 1.4rem;
  font-family: "Font Awesome 5 Pro";
  display: inline-block;
  margin-left: -2rem; /* same as padding-left set on li */
  margin-right: 1rem;
  width: 1.3em; /* same as padding-left set on li */
}
.block-service {
    width: 100%;
}
.title-description {
    max-width: 850px;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333333;
    margin-bottom: 3rem;
    margin: 0 auto;
}
.service-item {
    float: left;
    width: 17.6%;
    margin-right: 3%;
    margin-bottom: 3%;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.service-item:nth-child(5n) {
    margin-right: 0%;
}
.service-item:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
}
.service-thumbnail {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    margin-bottom: 1rem;
}
.service-thumbnail img {
    width: 100%;
    filter: grayscale(100%);
}

.service-item:hover .service-thumbnail img, .service-item.active .service-thumbnail img {
    filter: grayscale(0);
}
.service-name {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 22px;
    color: #23A5A5;
}
.service-desciption {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 1rem;
}
.service-item .btn {
    font-size: 1.2rem;
}
.service-item .ab-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    right: 0;
}
.service-item .ab-icon img {
    width: 100%;
    display: block;
}
.service-item .number {
    position: absolute;
    top: -23px;
    right: 0;
}
.service-item .number .icon {
    font-size: 4.8rem;
    color: #9a9a9a;
}
.service-item .number .text {
    position: absolute;
    top: 9px;
    right: 9px;
    padding: 0.4rem 0.6rem;
    background: #fff;
    border-radius: 1000px;
    font-weight: bold;;
}
.service-item .number.text-red, .service-item .number.text-red .icon {
    color: #005cba !important;
}
.service-item .number.text-blue, .service-item .number.text-blue .icon {
    color: #005cba !important;
}
.service-item .number.text-red, .service-item .number.text-red .icon {
    color: #f80917 !important;
}
.service-item .number.text-orgran, .service-item .number.text-orgran .icon {
    color: #FFAA00 !important;
}
.service-item .number.text-primary, .service-item .number.text-primary .icon {
    color: #23A5A5 !important;
}
.service-item .number.text-success, .service-item .number.text-success .icon {
    color: #009828 !important;
}
.service-item .number.text-info, .service-item .number.text-info .icon {
    color: #b000dc !important;
}
.service-page .service-name a {
    color: #ffaa00;
}
.service-page .service-name a, .service-item .number {
    filter: grayscale(100%);
}
.service-page .service-item:hover a, .service-item:hover .number, 
.service-page .service-item.active a, .service-page .service-item.active .number {
    filter: grayscale(0) !important;
}
.promotion-slider, .comments-slider, .certificate-content {
    max-width: 870px;
    margin: 0 auto;
}
.block-promotion .title-description {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.block-promotion .promotion-item {
    padding: 1.5rem;
    width: 33.3333%;
}
.block-promotion .promotion-box {
    padding: 1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.promotion-item .thumbnail {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}
.promotion-item .thumbnail img {
    width: 100%;
    display: block;
}
.promotion-item .promotion-description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.block-content {
    position: relative;
}
.block-promotion .promotion-name {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #23A5A5;
    margin-bottom: 0.5rem;
}
.promotion-box .btn {
    font-size: 1.2rem;
}
.block-content .next, 
.block-content .prev {
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
}
.block-content .prev  {
    left: 0;
}
.block-content .next {
    right: 0;
}
.block-content:hover .next, 
.block-content:hover .prev {
    opacity: 1;
}
.promotion-banner a {
    display: block;
    width: 100%;
}
.promotion-banner img {
    width: 100%;
}
.slick-dots {
    width: 100%;
    list-style: none;
    position: absolute;
    bottom: 2rem;
    text-align: center;
    padding-left: 0;
}
.block-no-padding {
    padding: 0 !important;
}
.slick-dots li {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    position: relative;
    list-style: none;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 100px;
    border:  2px solid #FFAA00;
    margin: 3px;
}

.slick-dots li button {
    color: transparent;
    background: transparent;
    border:  none;
    border-radius: 100px;
    width: 8px;
    height: 8px;
}
.slick-dots li.slick-active button {
    background: #FFAA00;
}

.thumbnail-rounded {
    padding: 0 2rem;
}
.thumbnail-rounded img {
    border-radius: 1000px;
}
.customer-comments {
    background: #F3FFFD;
}
.appointment-content {
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.12), 0px 1px 32px rgba(0, 0, 0, 0.12);
}
.appointment-content .tab-content .row {
    margin-bottom: 20px !important;
}
.appointment-content .btn {
    margin: 3rem 0;
}
.block-appointment .nav-fill .nav-item, .nav-fill>.nav-link {
    background-color: #23A5A5;
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #FFAA00;
    font-size: 1.4rem;
    line-height: 1;
    padding: 2.5rem 2rem 1rem 2rem;
    font-weight: bold;
    vertical-align: middle;
}
.block-appointment .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    border: 1px solid #FFAA00;
    border-bottom: 0;
    background-color: #fff;
    color: #FFAA00;
    border-radius: 0;
    font-size: 2.4rem;
}
.block-appointment .tab-content {
    border: 1px solid #FFAA00;
    border-top: none;
    padding: 4rem 6rem 2rem 6rem;
    background: #fff;
}
.block-appointment .form-control {
    text-align: center;
}
.block-appointment .group-datetime .form-control {
    width:  70px;
    display: inline;
}
.block-appointment .group-datetime span {
    padding: 5px;
}
.block-partner  {
    background: #F3FFFD;
}
.block-partner .block-content.container  {
    max-width: 800px;
}
.block-partner .partner-item {
    padding: 2rem;
}
.block-partner .partner-item .partner-box {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.block-partner .partner-item .partner-box:hover {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.12);
}
.block-partner .partner-item .partner-box a {
    display: block;
}
.block-partner .partner-item .partner-box:hover a img {
    filter: grayscale(0);
}
.block-partner .partner-item .partner-box a img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
}
.block-partner .slick-dots {
    position: relative;
    margin-top: 5rem;
}
.footer {
    border-top: 2px solid #FFAA00;
    padding: 3rem 0 0 0;
    font-weight: bold;
    font-size: 1.2rem;

    color: #333333;
}
.block-footer .title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #FFAA00;
    margin-bottom: 0.5rem;
}
.block-footer .logo {
    margin-bottom: 2rem;
}
.block-footer .sub-footer {
    margin-top: 3rem;
}
.block-footer .line {
    width: 50%;
    height: 0;
    border-bottom: 2px solid #23A5A5;
    margin:  0.5rem 0;
}
.block-footer div.text-item {
    position: relative;
}
.block-footer div.text-item:first-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    border-bottom: 2px solid #23A5A5;
}
.block-footer div.text-item span, .block-footer div.text-item a {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    /*border-bottom: 2px solid #23A5A5;*/
    line-height: 2;
    color: #333;
}
.block-footer div.text-item a:hover {
    color: #23A5A5;
}
.block-footer .logo a {
    display: inline;
    width: 40px;
    vertical-align: -22px;
}
.block-footer .logo a img {
    width: 100%;
}
.block-footer .logo h1 {
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    color: #21B3B3;
}
.block-footer .google-map {
    margin-top: 3rem;
}
.block-footer .sub-footer p {
    margin-bottom: 5px;
}
.block-about-us .thumbnail img {
    width: 100%;
}
.block-footer .sub-footer i {
    color: #21B3B3;
}
.footer .bottom {
    margin-top: 3rem;
    border-top: 2px solid #23A5A5;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    padding: 1rem;
}
.block-about-us .about-content {
    padding-left: 2rem;
}
.block-about-us .container {
    position: relative;
}
.block-doctor .block-content {
    padding-top: 10rem;
    padding-left: 0;
}
.block-doctor .block-content .col {
    padding-left: 0;
}
.block-doctor .block-content .dr-logo {
    width: 155px !important;
    height: 155px !important;
    position: absolute;
    top: 3rem;
    right: 0;
}
.block-doctor .block-content .dr-logo img {
    width: 100%;
    display: block;
}
.about-content h2, .about-content .title  {
    font-weight: bold;
    font-size: 2.4rem;
    color: #000000;
    margin-bottom: 2rem;

}
.about-content div, .about-content .text-description {
    line-height: 1.8;
    margin-bottom: 6rem;
    font-size: 1.6rem;
}
.about-content div ul, .about-content div ol {
    margin-left: 0;
}
.block-doctor .title  {
    font-weight: bold;
    font-size: 1.6rem;
}
.block-doctor .doctor-content {
    padding: 3rem 0;
    margin-bottom: 5rem;
    position: relative;
}

.block-doctor .doctor-title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    color: #23A5A5;
    margin-bottom: 1rem;
}
.block-doctor .doctor-name {
   font-weight: bold;
    font-size: 4rem !important;
    line-height: 1.6;
    margin-bottom: 6rem; 
    color: #FFAA00;
}
.block-doctor .text-description {
    line-height: 1.5;
    margin-bottom: 2rem;
}
.block-doctor .thumbnail {
    margin-bottom: 0;
    position: relative;
}
.block-doctor .thumbnail img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.block-certificate-doctor {
    background: #F3FFFD;
}
.certificate-slider .slick-dots {
    bottom: -4rem;
}
.block-certificate-doctor .promotion-box {
    padding: 0;
    border-radius: 0;
}
.block-certificate-doctor .block-content .next, .block-certificate-doctor .block-content .prev {
    top: 18%;
}
.block-certificate-doctor .block-content .prev {
    left: -3rem;
}
.block-certificate-doctor .block-content .next {
    right: -3rem;
}
.about-campus-slider {
    max-width: 850px;
    margin: 0 auto;
}
.about-campus-slider img {
    width: 100%;
    display: block;
}
.about-campus-main-content {
    margin-top: 2rem;
}
.block-about-campus .block-content .next, .block-about-campus .block-content .prev {
    top: 22%;
}
.about-campus-main-content p, .about-campus-main-content div {
    margin-bottom: 1rem;
    text-align: justify;
}
.about-campus-main-content {
    margin: 0 auto;
}
.about-campus-main-content img {
    width: 100%;
}

.block-service-page img {
    width: 100%;
}
.block-service-page {
    padding: 0;
}
.block-price .price-item {
    padding: 1.5rem;
}
.block-price .price-item .price-thumbnail {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    padding: 1rem;
}
.block-price .price-item .price-box {
    padding: 1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.block-price .price-item .price-name {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.block-price .price-item .price-name a {
    font-weight: bold;
    font-size: 1.4rem;
    color: #333333;
}
.block-price .price-item:hover .price-name a {
    color: #ffaa00;
}
.block-price .price-item:hover .price-box{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16)
}
.block-price .price-item .price-number {
    font-weight: bold;
    color: #23A5A5;
}
.block-service-article {
    margin-top: 4rem;
}
.block-service-article .container {
    max-width: 1155px;
    position: relative;
}
.block-service-article-title {
    position: relative;
}
.block-service-article-title:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #FFAA00;
    top: calc(50% - 1px);
    left: 0;
}
.block-service-article-title span {
    position: absolute;
    padding: 1rem;
    font-weight: bold;
    font-size: 40px;
    background: #fff;
    color: #333333;
    z-index: 99;
    top: -4.3rem;
}
.block-service-article-list {
    padding-top: 6rem;
}
.block-service-article-item {
    border-bottom: 2px solid #23A5A5;
    padding: 3rem 0;
}
.block-service-article-item:first-child {
    padding-top: 0;
}
.block-service-article-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.block-service-article-item .right {
    padding-left: 1.5rem;
}
.block-service-article-item .article-title a {
    color: #333333;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.block-service-article-item .article-title:hover a {
    color: #23A5A5;
}
.block-service-article-item .article-title .number {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    font-size: 40px;
    vertical-align: -7px;
    padding-right: 0.5rem;
}
.block-service-article-item .article-description {
    color: #979797;
    font-size: 1.2rem;
   
}
.block-service-article-item .article-description li {
     line-height: 2;
}
.block-policy .block-content {
    margin-bottom: 0rem;
}
.block-policy  div {
    margin-bottom: 0;
}
.block-policy .doctor-name  {
    margin: 5rem 0 3rem 0;
}
.block-doctor.block-policy .thumbnail img {
    position: relative;
}
.block-policy .logo {
    margin-top: 6rem;
}
.block-policy .logo a {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    display: inline;
    width: 40px;
    vertical-align: -5px;
}
.block-policy .logo a img {
    display: block;
    width: 100%;
}
.block-footer .logo h1 {
    text-align: center;
}
.block-footer .logo h1 .since {
    display: block;
    text-align: center;
    line-height: 2;
    color: #333;
    font-size: 0.9rem;
}
.block-footer .socical .item {
    display: inline;
    margin-right: 5px;
    width: 18px;
    height: 18px;
}
.block-footer .socical .item a {
     width: 18px;
    height: 18px;
}
.block-footer .socical .item img {
    width: 18px;
    height: 18px;
    filter: grayscale(100%);
}
.block-footer .socical .item:hover img {
    filter: grayscale(0);
}
.block-footer .socical .item:last-of-type {
    margin-right: 0;
}
.license div.text-item:last-child span, .license div.text-item:last-child a {
    border-bottom: 0 !important;
}
.license div.text-item:first-child::before {
    border-bottom: 2px solid transparent;
}
.license div.text-item:first-child a {
    border-bottom: 2px solid #23A5A5;;
}
.block-policy .logo .logo-text a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 0.02em;
}
.block-policy .logo h1 {
    text-align: center;
    line-height: 1;
}
.block-policy .logo h1 .since {
    font-size: 1.2rem;
    font-weight: bold;
}
.list-policy > li {
    border-bottom: 1px solid #23A5A5;
}
.list-policy li {
    list-style: none;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.list-policy li {
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.list-policy li:last-child {
    border-bottom: 0;
}
.list-policy li p {
    display: block;
    padding: 1.5rem 6rem;
    position: relative;
    color: #333;
    margin-bottom: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.list-policy li:hover > p {
    color: #FFAA00;
}
.list-policy li p .icon {
    position: absolute;
    right: 6rem;
    top: 2rem;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid  #333;
}
.list-policy li p .icon {
    font-size: 3rem;
}
.list-policy ul {
    margin-left: 0;
    padding-left: 0;
}
.list-policy ul li {
    background-color:transparent;
    margin-bottom: 0;
    color: #fff;
    height: 0;
    overflow: hidden;
}
.list-policy ul li p {
    color: #fff;
}
.list-policy li.active ul li {
    height: 6rem;
    background-color: #23a5a5;
}
.list-policy li.active ul li:last-child {
    height: 10rem;
}
.list-policy ul li p {
    padding: 4rem 6rem;
    padding-bottom: 0;
}
.list-policy ul li:last-child {
    border-bottom: 0;
}
.list-policy ul li:last-child p {
    padding-bottom: 4rem;
}
.list-policy li:hover > p {
    color: #ffaa00;
}
.block-appointment {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.customer-information-title {
    font-weight: bold;
    font-size: 2rem;
    color: #333333;
}
.customer-id {
    font-weight: bold;
    font-size: 1.6rem;
    color: #333333;
}
.customer-information-conent {
    border: 2px solid #23A5A5;
}
.customer-information-conent-block {
    padding: 6rem;
}
.customer-information-conent-block p {
    margin-top: 8px;
    margin-bottom: 0;
}
.customer-information-conent .header-title {
    margin: 3rem 0;
    display: block;
    font-size: 2.4rem;
}
.customer-information-conent .header-form .note {
    background: transparent;
    border:  1px solid #23A5A5;
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
}
.customer-information-conent form {
    margin-left: 4rem;
    margin-bottom: 5rem;
}
.customer-information-conent label {
    font-size: 1.4rem;
    font-weight: bold;
}
.customer-information-conent .header-form {
    padding: 2rem 4rem;
    border-bottom: 1px solid #23A5A5;
}
.customer-information-conent .header-form .logo {
    position: relative;
    text-align: center;
    padding: 0.5rem 0;
}
.customer-information-conent .header-form .logo .imgage {
    width: 59px;
    margin: 0 auto;
    display: block;
}
.customer-information-conent .header-form.logo a img {
    display: block;
    width: 100%;
}
.customer-information-conent .header-form .logo h1 {
    font-family: Open Sans;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 0.5rem;
}
.customer-information-conent .header-form .logo .since {
    font-weight: bold;
    font-size: 0.9rem;
}
.customer-information-conent .btn {
    min-width: 315px;
}
.customer-table-content {
    padding: 6rem; 
    padding-top: 0;
}
.customer-table-content table th {
    background-color: #F0F0F0;;
}
.table.table-light td{
    background-color: #fff;
}
.customer-table-content table td, .customer-table-content table th {
    font-size: 1.6rem;
}
.customer-information-conent-block img {
    max-width: 100%;
}

.form-check-inline:last-of-type {
    margin-right: 0;
}
.list-contact {
    margin-top: 5rem;
}
.list-contact .contact-item {
    text-align: center;
    line-height: 2;
    padding: 2rem 2rem;
    background: #F0F0F0;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    min-height: 105px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.list-contact .contact-item:hover {
    background: #ffaa00;
    color: #fff;
}
.list-contact .contact-item:hover a {
    color: #fff;
}
.list-contact .contact-item .contact-name {
    font-weight: bold;
}
.list-contact .contact-item a {
    color: #333;
}
.list-promotion .promotion-item {
    padding: 2rem;

}
.list-promotion .promotion-item .promotion-box .thumbnail {
    width: 100%;
    display: block;
} 
.list-promotion .promotion-item .promotion-box img {
    width: 100%;
    display: block;
}
.promotion-title {
    padding-left: 2rem;
    margin-top: 5rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000000;
}
.block-library {
    padding: 5rem 0;
}
.library-slider .slick-dots {
    position: relative;
    top: 1rem;
}
.slider-caption {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    color: #23A5A5;
}
.pagination {
    margin-top: 2rem;
}
.pagination a {
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
}
.pagination a:hover {
    color: #23A5A5;
}
.page-item.active .page-link {
    background-color: #23A5A5;
    color: #fff;
    border-color: #23A5A5;
}
.video-library-container {
   max-width: 700px;
   margin: 0 auto;
   margin-bottom: 10rem;
}
.video-library-container:last-child {
    margin-bottom: 0;
}
.video-library-container  {
    position: relative;
}
.video-library-container .prev, .video-library-container  .next {
    position: absolute;
    top: 35%;
    z-index: 99999999999;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.video-library-container :hover  .prev, .video-library-container :hover .next {
    opacity: 1;
}
.video-library-container  .prev {
    left: -6rem;
}
.video-library-container  .next {
    right: -6rem;
}
.video-library-container  .prev i, .main-slider .next i {
    color:  #333333;
}
.video-library-container .prev:hover, .main-slider .next:hover {
    color: #FFAA00;
}
.video-library-container .video-title {
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.background-light-primary .title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-wrapper {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}
.video-wrapper .video-wrapper-inner .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.bubble-buttons {
    position: fixed;
    right: 5rem;
    bottom:  5rem;
    font-size: 3rem;
    z-index: 999;
}
.bubble-buttons .main-icon i {
    font-size: 5rem;
    color: #23A5A5;
    cursor: pointer;
}
.bubble-buttons ul {
    width: 230px;
    position: absolute;
    top: -100px;
    right: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.bubble-buttons.active ul {
    top: -250px;
    opacity: 1;
    height: 250px;
}
.bubble-buttons .main-icon i:last-child {
    display: none;
}
.bubble-buttons.active .main-icon i:first-child {
    display: none;
}
.bubble-buttons.active .main-icon i:last-child {
    display: block;
}
.bubble-buttons ul li {
    list-style: none;
    position: relative;
    font-size: 2rem;
}
.bubble-buttons ul li a {
    padding: 1.5rem 0;
}
.bubble-buttons ul li .text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #969696;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.bubble-buttons ul li .icon {
    margin-left: 10px;
    margin-right: 1rem;
    font-size: 3rem;
    vertical-align: -5px;
    color: #FFAA00;
    /* filter: grayscale(100%); */
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.bubble-buttons ul li:hover .text.zalo {
    color: #0180C7;
    filter: grayscale(0%);
}
.bubble-buttons ul li:hover .text.messenger {
    color: #2196F3;
    filter: grayscale(0%);
}
.bubble-buttons ul li:hover .text.phone {
    color: #BC0020;
    filter: grayscale(0%);
}
.bubble-buttons ul li:hover .text.chat {
    color: #FFAA00;
    filter: grayscale(0%);
}
.bubble-buttons ul li:hover .text.chat + .icon {
    color: #FFAA00;
}
.bubble-buttons ul li:hover .icon {
    filter: grayscale(0%);
}
.bubble-buttons ul li:hover .text {
    margin-right: 10px;
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}
.knowledge-content .tab-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.list-knowledge .item {
    padding: 5rem;
    padding-bottom: 3rem;
    
}
.list-knowledge .item .box {
   position: relative; 
}
.list-knowledge .item .box .thumbnail {
    display: block;
    width: 100%;
}
.list-knowledge .item .box .thumbnail img {
    display: block;
    width: 100%;
}.list-knowledge .item .box .article-name {
    display: block;
    width: 100%;
    background-color: #fff;
}

.list-knowledge .item .box .article-name a {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #333333;
    padding: 5px;
}
.list-knowledge .item .box .article-name .number {
    font-size: 2.4rem;
    line-height: 3.3rem;
    vertical-align: -10px;
    padding-right: 5px;
}
.list-knowledge .item .box .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255,170,0);
    background: linear-gradient(0deg, rgba(255,170,0,1) 0%, rgba(255,170,0,1) 33%, rgba(0,0,0,0) 100%);
    --bs-gutter-x: 0;
    margin-top: 0;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.list-knowledge .item .box .mask .mask-article-name {
    padding: 5px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #333333;
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    width: 100%;
    height: 43px ;
    background-color: #FFAA00;
    position: absolute;
    left: 0;
    bottom: 1px;
    font-weight: bold;
    overflow: hidden;
    border-top: 1px solid #23A5A5;
}
.list-knowledge .item .box .mask .mask-article-name .number {
    font-size: 2.4rem;
    line-height: 3.3rem;
    vertical-align: -10px;
    padding-right: 5px;
}
.list-knowledge .item .box .mask .mask-description {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #000000;
    padding: 5px;
    overflow: hidden;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.list-knowledge .item .box:hover .mask {
    opacity: 1;
}
.list-knowledge .item .box:hover .mask-description {
    bottom: 43px;
}
.block-dental-knowledge .tab-title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 5.5rem;
    color: #333333;
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 1rem;
}
.block-dental-knowledge .content-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #333333;
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 1rem;
}
.block-dental-knowledge .nav-tabs {
    border:  0;
    margin-left: 5rem;
}
.block-dental-knowledge .nav-tabs .nav-link {
    color: #333;
    line-height: 3;
    border: none;
    text-align:left;
}
.block-dental-knowledge .nav-tabs .nav-link i {
    color: #23A5A5;
}
.block-dental-knowledge .nav-tabs .nav-item {
    text-align: left;
    padding-left: 3rem;
    position: relative; 
}
.block-dental-knowledge .nav-tabs .nav-item:before {
    position: absolute;
    top: 1.8rem;
    left: 3rem;
    content: "\f0eb";
    font-size: 1.4rem;
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    margin-left: -2rem;
    width: 1.3em;
    color: #23A5A5;
}
.block-dental-knowledge .nav-tabs .nav-item.show .nav-link, 
.block-dental-knowledge .nav-tabs .nav-link.active {
    background: none;
    border: none;
    color: #ffaa00;
    
}
.block-dental-knowledge .nav-tabs .nav-link:focus, .block-dental-knowledge  .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #23A5A5;
}
.block-dental-knowledge .modal-content table {
    margin-left: -10px;
}
.block-dental-knowledge .modal-content table td {
    padding: 10px;
    vertical-align: top;
}
.modal.show .modal-dialog {
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.12), 0px 1px 32px rgba(0, 0, 0, 0.12);
    padding: 6rem;
}

.modal-content.modal-info {
    padding: 6rem;
    border:  1px solid #23A5A5;
    /*height: 100vh;*/
    position: relative;
}
.modal .btn-close {
    position: absolute;
    top:  10px;
    right: 20px;
    background: none;
    cursor: pointer;
    
}
.modal .btn-close:focusm, .modal .btn-close:active {
    outline: 0;
    border: 0;
    box-shadow: none;
}
.modal .btn-close i {
    color: #FFAA00;
    font-size: 3rem;
}
.modal-content .breadcrumb  {
    margin-bottom: 3rem;
}
.modal-content .breadcrumb-item {
    border-bottom: 1px solid #23A5A5;
    line-height: 3;
}
.modal-content .breadcrumb-item.active {
    color: #333;
    font-weight: bold;
}
.pd-6 {
    padding: 6rem;
}
.pd-3 {
    padding: 3rem;
}
.list-insurrance .item {
    padding: 0 3rem;
    margin-bottom: 6rem;
}
.list-insurrance .item a {
    display: block;
    width: 100%;
    box-shadow: 0 0 3px  rgba(0, 0, 0, 0.2);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.list-insurrance .item a img {
    display: block;
    width: 100%;
}
.list-insurrance .item a:hover {
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.2);
}

.list-bank .item {
    padding: 0 3rem;
    width: 17.6%;
    margin-right: 3%;
    margin-bottom: 6rem;
}
.list-bank .item:nth-child(5n) {
    margin-right: 0;
}
.list-bank .item a {
    display: block;
    width: 100%;
    box-shadow: 0 0 3px  rgba(0, 0, 0, 0.2);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.list-bank .item a img {
    display: block;
    width: 100%;
}
.list-bank .item a:hover {
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.2);
}
.block .block-title .sub-title {
    text-align: center;
    color: #000000;
}
.block-promotion-insurrance .sub-title img {
    width: 71px;
}
.block.block-promotion-insurrance .block-title::before {
    border-bottom: none;
}
.block.block-promotion-insurrance .line {
    border-bottom: 2px solid #333333;
    width: 200px;
    margin: 4rem auto 6rem auto;
}
.block-promotion-insurrance .block-title {
    margin-bottom: 0 !important;
}
.trevel-slider {
    max-width: 1000px;
    margin: 0 auto;
}
.trevel-slider .trevel-item {
    padding: 1.5rem;
    width: 33.3333%;
}
.trevel-slider .trevel-box {
    padding: 1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 16%), 0px 2px 4px rgb(0 0 0 / 12%), 0px 1px 8px rgb(0 0 0 / 10%);
    border-radius: 15px;
}
.trevel-slider .trevel-box .thumbnail, .trevel-slider .trevel-box .thumbnail img {
    display: block;
    width: 100%;
}
.trevel-slider .trevel-box .thumbnail {
    margin-bottom: 2rem;
}
.trevel-slider .trevel-box .trevel-name {
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 3rem;
    color: #23A5A5;
}
.trevel-slider .trevel-box .trevel-info {
    line-height: 2;
}
.trevel-slider .trevel-box .trevel-info i {
    color: #23A5A5;
    font-size: 1.2rem;
}
.trevel-slider .prev i, .trevel-slider .next i {
    font-size: 20rem;
}
.trevel-slider .prev {
    left: -20rem;
}
.trevel-slider .next {
    right: -10rem;
}
.block-promotion-other .block-content {
    border-bottom: 1px solid #23A5A5;
}
.block-promotion-other .block-content:last-child {
    border:  none;
}
.login-form .modal-dialog {
    max-width: 350px;
    border-radius: 15px !important;
    background-color: #23A5A5 !important;
    padding: 0 !important;
}
.login-form  .modal-content {
   background-color: #23A5A5 !important;
   border : none;
   padding: 0 !important;
    border-radius: 15px !important;
}
.login-form .modal-body {
    padding: 0 !important;
}
.login-form .modal-body .box {
    padding: 3rem !important;
}
.login-form .form-control {
    color: #fff;
    border:  0;
    background-color: transparent !important;
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-align: center;
}
.login-form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.login-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.login-form ::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.login-form button {
    padding: 1rem 2rem;
    border:  0;
    background: #FFFFFF;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    font-weight: bold;
    color: #23A5A5;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.login-form .footer-link {
    font-size: 1.1rem;
    color: #fff;
}
.login-form .footer-link a {
    color: #fff;
    text-decoration: underline;
}
.login-form .footer {
    margin-top: 0;
    border-top: 1px solid #fff;
    padding: 1rem;
}
.login-form .footer p {
    margin-bottom: 0;
}
.login-form button:hover {
    background-color: #ffaa00;
    color: #fff;
}
.modal.show {
    z-index: 999999;
}
.modal.custumer-info-modal.show .modal-dialog {
    padding: 0 !important;
}
.custumer-info-modal .modal-content.modal-info {
    border:  none;
}
.form-select {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.6rem;
    background-color: #F0F0F0;;
}

.customer-information-slider .customer-information-item {
    padding: 2rem;
    width: 33.3333%;
}
.customer-information-slider .customer-information-item .customer-information-box {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.customer-information-slider .customer-information-item .thumbnail,
.customer-information-slider .customer-information-item .thumbnail img {
    display: block;
    width: 100%;
}
.customer-information-slider .customer-information-item .customer-information-box .customer-information-info {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}
.customer-information-slider {
    max-width: 850px;
    margin: 0 auto;
}
.customer-information-slider .customer-information-item .customer-information-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
.form-check-input:checked {
    background-color: #23A5A5;
    border-color: #23A5A5;
}
.form-check-input.form-check-secondary:checked {
    background-color: #ffaa00;
    border-color: #ffaa00;
}
.block-library .block-content {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin-bottom: 6rem !important;
    padding: 0 6rem 6rem 6rem;
}
.mobile-menu-wraper {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: calc(100vh - 49px);
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 5rem;
}
.mobile-menu-wraper.show {
    display: block;
}
.mobile-menu-wraper .mobile-top {
    height: 80px;
    padding: 0 4rem;
    border-bottom: 2px solid #FFAA00;
}
.mobile-nav {
    width: 100%;
    clear: both;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.mobile-login {
    font-weight: bold;
    padding: 3rem 0;
}
.mobile-search {
    width: 30%;
    position: absolute;
    top: 2rem;
    left: 35%;
}

.mobile-nav ul {
    padding-left: 0;
}
.mobile-nav ul li {
    list-style: none;
    display: block;
}
.mobile-nav ul li a {
    color: #ffaa00;
    font-weight: bold;
}
.mobile-nav ul li a:focus {
    color: #23A5A5;
}
.mobile-nav > ul > li > a {
    display: block;
    padding: 1.5rem 4rem;
    position: relative;
    text-transform: uppercase;
}
.mobile-nav > ul > li > a .icon {
    position: absolute;
    top: 1.5rem;
    right: 4rem;
}
.mobile-nav ul ul li a {
    color: #ffaa00;
    display: block;
   padding: 1rem 4rem;
   padding-left: 6rem;
   text-transform: uppercase;
}
.mobile-nav > ul > li > ul > li {
    overflow: hidden;
    height: 0;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.mobile-nav > ul > li > a:focus + ul > li {
   height: 54px;
}
.mobile-time {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 2rem 2rem;
    font-weight: bold;
    color: #23A5A5;
    background: #fff;
    font-size: 1.2rem;
}
.service-page .slick-dots {
    bottom: 0 !important ;
}
.title-2 {
    margin-left: 15rem; 
    margin-bottom: 4rem; 
    font-size: 2.4rem;
}
.thumbnail-article {
    margin-right: 10px;
}
.block-promotion-trevel .block-title {
    margin-bottom: 0;
    line-height: 11rem;
}
.block-promotion-trevel .block-title::before {
    bottom: -5.5rem;
}
.block-promotion-trevel .title-description {
    margin-top: 7rem;
}